
1. Store 3.5 in a variable called `my_float` and store 2 in a variable called `my_int`. Store the sum of `my_float` and `my_int` in the `total_value` variable. (2 points)

2. Write a Python function that takes a string as input and returns the number of characters in the string. (3 points)

3. Create a list of your five favorite books in Python. Write Python code to print the first and last book in the list. (3 points)

4. Create a dictionary where the keys are the names of three different countries and the values are their respective capitals. (3 points)



5. Create a set of numbers from the following numbers using Python: 1, 2, 4, 2, 5, 1. (3 points)

6. Create a list of the first six whole numbers i.e. (0, 1, 2, 3, 4, 5). Then use a `for` loop to iterate through each number and print twice that number. Your output should be 0, 2, 4, 6, 8, 10. (3 points)

7. You are provided with a dataframe called `df` below. Write Python code to return a subset of the DataFrame where the `Favorite Food` is `Momo`. Include only `Name`, `Favorite Food` and `City` columns in your output.(3 points)

In [9]:
import pandas as pd

data = {
    'Name': ['Prashant', 'Sirak', 'Kirtika', 'Sushrey', 'Rupesh'],
    'Favorite Food': ['Chataamari', 'Momo', 'Pizza', 'Injera', 'Momo'],
    'Favorite Number': [28, 26, 24, 30, 26],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'San Francisco']
}

df = pd.DataFrame(data)
df

       Name Favorite Food  Favorite Number           City
0  Prashant    Chataamari               28       New York
1     Sirak          Momo               26    Los Angeles
2   Kirtika         Pizza               24       New York
3   Sushrey        Injera               30        Chicago
4    Rupesh          Momo               26  San Francisco

8. Write a Python function that takes two parameters - `text` and `search_word`. It should return the number of times `search_word` appears in the text. Your search should not be case-sensitive. For example, if your text is "It was the best of times. It was the worst of times." and your `search_word` is 'it', your function should return 2. (5 points)

9. Lemmatize the words in the sentence "The striped bats are hanging on their feet for best" and print the lemmas. (5 points)



10. Write a Python function that takes a string (`text`) as input. The function should lowercase the string, remove punctuation, tokenize, lemmatize, and remove stopwords. The function should return the lemmas present in the string. The returned lemmas should not contain any stopwords. (10 points)